@import 'antd/dist/reset.css';

:root {
    /*Color*/
    --primary: #ff0000;
    --primary-light: rgba(255, 0, 0, 0.91);
    --secondary: #434A54;
    --neutral: #E6E9ED;
    --favorite: #ea9513;
    /*Pokemons Type Color*/
    --normal: #A8A77A;
    --fighting: #C22E28;
    --flying: #A98FF3;
    --poison: #A33EA1;
    --ground: #E2BF65;
    --rock: #B6A136;
    --bug: #A6B91A;
    --ghost: #735797;
    --steel: #B7B7CE;
    --fire: #EE8130;
    --water: #6390F0;
    --grass: #7AC74C;
    --electric: #F7D02C;
    --psychic: #F95587;
    --ice: #96D9D6;
    --dragon: #6F35FC;
    --fairy: #D685AD;
    /*Space*/
    --gap-section: 64px;
    --gap-element: 32px;
}

.baseLayout {

}

.App {
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 64px;
    view-timeline: --scroll;
}

header {
    display: flex;
    flex-direction: column;
    gap: 32px;
}